
@model IEnumerable<Developeram.DomainModel.Models.Article>


@foreach (var item in Model)
    {

    <div class="col-md-6">
        <a href="/Article/@item.ArticleId/@item.TitleUrl.Replace(" ","-")" title="@item.Title" >
            <img class="thumbnail img-thumbnail" src="~/Images/Articles/@item.ImageName" alt="@item.Title" title="@item.Title" />
        </a>
          </div>
    <div class="col-md-6">

        <h2>@item.Title</h2>
        @Html.Raw(item.ShortText)
        <a class="btn btn-sm btn-default" href="/Article/@item.ArticleId/@item.TitleUrl.Replace(" ","-")" title="@item.Title">
        ادامه مطلب
        </a>
    </div>



    }