@model Developeram.DomainModel.Models.Article

@{
    ViewBag.Title = Model.TitleUrl;
}

@section shortlink{
    <h3 class="subtitle">لینک کوتاه</h3>
    <div class="box-category">

        @{
            string link = "https://localhost:44368/a/" + Model.ShortLink;
        }
        <a href="@(link)">لینک کوتاه : @("developram.ir/a/" + Model.ShortLink)</a>
    </div>
}

@section StylesMeta{

    <meta name="author" content="@Model.MetaAuthor"/>
    <meta name="description" content="@Model.ShortText" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="owner" content="@Model.MetaOwner" />

}



<h1 class="subtitle">@Model.Title</h1>
<img src="/Images/Articles/@Model.ImageName" title="@Model.Title" alt="@Model.Title" />
@Html.Raw(Model.ShortText)
@Html.Raw(Model.FullText)

<br />
<section class="border-radius tags-layer">
    @foreach (var item in Model.TagArticles)
    {

        <a href="/Search?q=@item.Title">@item.Title</a>
    }

</section>

@Html.Action("CreateComment", "Articles", new { id = Model.ArticleId })

<ul>
    @Html.Action("ShowComments", "Articles", new { id = Model.ArticleId })
</ul>

