<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Template/image/favicon.png" rel="icon" />
    <link rel="alternate" hreflang="fa-IR" />
    <title>دانستنی ها عمومی - @ViewBag.Title</title>

    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="/Template/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Template/js/bootstrap/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="/Template/js/swipebox/src/css/swipebox.min.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/stylesheet-rtl.css" />
    <link rel="stylesheet" type="text/css" href="/Template/css/responsive-rtl.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
    @RenderSection("StylesMeta", false)
    <!-- CSS Part End-->
</head>
<body>
    <div class="wrapper-wide">
        <div id="header">
            <!-- Top Bar Start-->
            <div class="top-nav">
                <div class="container">
                    <div class="col-md-6 col-sm-7 col-xs-7 right-nav">
                        <!-- Clientarea and Basket -->
                        <div class="clientarea">
                            @Html.Partial("_LoginPartial")

                        </div>
                        <!-- End Clientarea and Basket -->
                    </div>
                    <div class="col-md-6 col-sm-5 col-xs-5 left-nav">
                        <!-- Social -->
                        <div class="socials">
                            <ul>
                                <li><a href="/" title="سبد خرید"><i class="fa fa-linkedin"></i>  <span id="countShopCart"></span></a></li>
                                <li><a href="/" title="مقایسه"><i class="fa fa-instagram"></i>   <span id="countCompare"></span></a></li>
                                <li><a href="/" title="علاقه مندی ها"><i class="fa fa-facebook"></i>  <span id="countWish"></span></a></li>
                                <li><a href="/" title="علاقه مندی ها"><i class="fa fa-paper-plane"></i>  <span id="countWish"></span></a></li>
                                <li><a href="/" title="علاقه مندی ها"><i class="fa fa-twitter"></i>  <span id="countWish"></span></a></li>
                                @*<li>
                                        <div id="showCart">
                                            @Html.Action("ShowCart", "ShopCart", new { area = "" })
                                        </div>
                                    </li>*@
                            </ul>
                        </div>
                        <!-- End Social -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Top Bar End-->
            <!-- Header Start-->
            <header class="header-row">
                <div class="container">
                    <div class="table-container">
                        <!-- Logo Start -->
                        <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                            <div id="logo"><a href="/"><img class="img-responsive" src="/Template/image/logo.png" title="MarketShop" alt="MarketShop" /></a></div>
                        </div>
                        <!-- Logo End -->
                        <!-- Mini Cart Start-->
                        <!-- Mini Cart End-->
                        <!-- جستجو Start-->
                        <form action="/Search/" method="get">
                            <div class="col-table-cell col-lg-2 col-md-2 col-sm-6 col-xs-12 inner">
                                <div id="search" class="input-group">
                                    <input id="filter_name" type="text" name="q" value="" placeholder="جستجو..." class="form-control input-lg" />
                                    <button style="background-color:cornflowerblue" type="submit" class="button-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <!-- جستجو End-->
                    </div>
                </div>
            </header>
            <!-- Header End-->
            <!-- Main آقایانu Start-->
            <div class="container">
                <nav id="menu" class="navbar">
                    <div class="navbar-header"> <span class="visible-xs visible-sm"> منو <b></b></span></div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        @Html.Action("Menu", "Home")
                    </div>
                </nav>
            </div>
            <!-- Main آقایانu End-->
        </div>
        <div id="container">
            <div class="container">
                <div class="row">
                    <!-- Left Part Start-->
                    <aside id="column-left" class="col-sm-3 hidden-xs">

                        @Html.Action("Category", "Home")

                        @*<h3 class="subtitle">پرفروش ها</h3>
                            @Html.Action("GetMaxSale", "Products")

                            <h3 class="subtitle">جدیدترین ها</h3>
                            @Html.Action("GetLastAdd", "Products")*@

                        @RenderSection("shortlink", false)

                    </aside>
                    <!-- Left Part End-->
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-9">
                        @RenderSection("Slider", false)



                        @RenderBody()
                    </div>
                    <!--Middle Part End-->
                </div>
            </div>
        </div>
        <!--Footer Start-->
        <footer id="footer">
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h5>اطلاعات تماس</h5>
                            <ul>
                                <li class="address"><i class="fa fa-map-marker"></i>استان البرز شهر کرج</li>
                                <li class="mobile"><i class="fa fa-phone"></i>09362997009</li>
                                <li class="email"><i class="fa fa-envelope"></i>برقراری ارتباط از طریق <a href="contact-us.html">تماس با ما</a>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>اطلاعات</h5>
                            <ul>
                                <li><a href="about-us.html">درباره ما</a></li>
                                <li><a href="about-us.html">اطلاعات ارسال</a></li>
                                <li><a href="about-us.html">حریم خصوصی</a></li>
                                <li><a href="about-us.html">شرایط و قوانین</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>خدمات مشتریان</h5>
                            <ul>
                                <li><a href="contact-us.html">تماس با ما</a></li>
                                <li><a href="#">بازگشت</a></li>
                                <li><a href="sitemap.html">نقشه سایت</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>امکانات جانبی</h5>
                            <ul>
                                <li><a href="#">برند ها</a></li>
                                <li><a href="#">کارت هدیه</a></li>
                                <li><a href="#">بازاریابی</a></li>
                                <li><a href="#">ویژه ها</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>حساب من</h5>
                            <ul>
                                <li><a href="#">حساب کاربری</a></li>
                                <li><a href="#">تاریخچه سفارشات</a></li>
                                <li><a href="#">لیست علاقه مندی</a></li>
                                <li><a href="#">خبرنامه</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fpart-second">
                <div class="container">
                    <div id="powered" class="clearfix">
                        <div class="powered_text pull-left flip">
                            <p>
                                @DateTime.Now.Year
                                develperam
                            </p>
                        </div>
                        <div class="social pull-right flip"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>
                    </div>

                </div>
            </div>
            <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
        </footer>
        <!--Footer End-->
        <!-- Facebook Side Block Start -->
        <!-- Custom Side Block End -->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="/Template/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/Template/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Template/js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="/Template/js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="/Template/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/Template/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="/Template/js/swipebox/lib/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="/Template/js/swipebox/src/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript" src="/Template/js/custom.js"></script>

    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156269204-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156269204-1');
    </script>



    <!-- JS Part End-->
    @RenderSection("Scripts", false)


</body>
</html>